@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Player Matcher</h1>
    <p class="lead">Player Matcher</p>
</div>

<div class="row">
    <div class="col-md-12">
        Player Matcher
    </div>
</div>