USE [master]
GO
/****** Object:  Database [GamePlayerMatcher]    Script Date: 3/16/2019 2:08:47 PM ******/
CREATE DATABASE [GamePlayerMatcher]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GamePlayerMatcher].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GamePlayerMatcher]
GO
USE [GamePlayerMatcher]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 3/16/2019 2:08:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[Game_ID] [int] IDENTITY(1,1) NOT NULL,
	[Game_Name] [varchar](100) NULL,
	[Max_Player_Count] [int] NULL,
 CONSTRAINT [PK__Game__093B1F8E87F87D27] PRIMARY KEY CLUSTERED 
(
	[Game_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game_Sessions]    Script Date: 3/16/2019 2:08:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game_Sessions](
	[Game_Session_ID] [int] IDENTITY(1,1) NOT NULL,
	[Session_Start] [datetime] NULL,
	[Session_End] [datetime] NULL,
	[Game_ID] [int] NULL,
	[User_ID] [int] NULL,
 CONSTRAINT [PK__Game_Ses__95A581309179863C] PRIMARY KEY CLUSTERED 
(
	[Game_Session_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 3/16/2019 2:08:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[User_Rating_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Rating] [int] NULL,
	[User_ID] [int] NULL,
	[Game_ID] [int] NULL,
 CONSTRAINT [PK__Rating__75451B757AC32280] PRIMARY KEY CLUSTERED 
(
	[User_Rating_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/16/2019 2:08:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [varchar](30) NULL,
	[User_Password] [varchar](30) NULL,
	[Is_Online] [bit] NULL,
 CONSTRAINT [PK__Users__206D9190457C9878] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__Is_Online__2B3F6F97]  DEFAULT ((0)) FOR [Is_Online]
GO
ALTER TABLE [dbo].[Game_Sessions]  WITH CHECK ADD  CONSTRAINT [FK__Game_Sess__Game___34C8D9D1] FOREIGN KEY([Game_ID])
REFERENCES [dbo].[Game] ([Game_ID])
GO
ALTER TABLE [dbo].[Game_Sessions] CHECK CONSTRAINT [FK__Game_Sess__Game___34C8D9D1]
GO
ALTER TABLE [dbo].[Game_Sessions]  WITH CHECK ADD  CONSTRAINT [FK__Game_Sess__User___33D4B598] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Game_Sessions] CHECK CONSTRAINT [FK__Game_Sess__User___33D4B598]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK__Rating__Game_ID__30F848ED] FOREIGN KEY([Game_ID])
REFERENCES [dbo].[Game] ([Game_ID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK__Rating__Game_ID__30F848ED]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK__Rating__User_ID__300424B4] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK__Rating__User_ID__300424B4]
GO
USE [master]
GO
